## Limpeza de dados: Projeto Olimpíadas

##### Nesse projeto, irei coletar dados dos quadros de medalhas dos jogos olímpicos desde 2000 e organizá-los.

1. Primeiramente, importo as bibliotecas que irei utilizar no tratamento.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#df_2020 = pd.read_html("https://pt.wikipedia.org/wiki/Quadro_de_medalhas_dos_Jogos_Ol%C3%ADmpicos_de_Ver%C3%A3o_de_2020")
#df_2016 = pd.read_html("https://pt.wikipedia.org/wiki/Quadro_de_medalhas_dos_Jogos_Ol%C3%ADmpicos_de_Ver%C3%A3o_de_2016")
#df_2012 = pd.read_html("https://pt.wikipedia.org/wiki/Quadro_de_medalhas_dos_Jogos_Ol%C3%ADmpicos_de_Ver%C3%A3o_de_2012")
#df_2008 = pd.read_html("https://pt.wikipedia.org/wiki/Quadro_de_medalhas_dos_Jogos_Ol%C3%ADmpicos_de_Ver%C3%A3o_de_2008")
#df_2004 = pd.read_html("https://pt.wikipedia.org/wiki/Quadro_de_medalhas_dos_Jogos_Ol%C3%ADmpicos_de_Ver%C3%A3o_de_2004")
#df_2000 = pd.read_html("https://pt.wikipedia.org/wiki/Quadro_de_medalhas_dos_Jogos_Ol%C3%ADmpicos_de_Ver%C3%A3o_de_2000")

2. Importo os arquivos CSVs que foram gerados a partir de tabelas dos quadros de medalhas no site Wikipedia.

In [3]:
df20 = pd.read_csv("df_2020.csv")
df16 = pd.read_csv("df_2016.csv")
df12 = pd.read_csv("df_2012.csv")
df08 = pd.read_csv("df_2008.csv")
df04 = pd.read_csv("df_2004.csv")
df00 = pd.read_csv("df_2000.csv")

In [4]:
#df16 = df_2016[1]
#df12 = df_2012[1]
#df08 = df_2008[1]
#df04 = df_2004[0]
#df00 = df_2000[0]

3. A partir daqui, irei utilizar operadores de repetição para varrer a lista ```df``` que contém os cinco dataframes com as informações referentes ao quadro de medalhas.

In [5]:
df = [df20, df16, df12, df08, df04, df00]

In [6]:
for i in df: #EXCLUO A COLUNA Ordem DE TODOS OS DATAFRAMES.
    i.drop(columns=["Ordem"], inplace=True)

In [7]:
colunas = ["País", "Ouro", "Prata", "Bronze", "Total"]

In [8]:
for i in df: #TRANSFORMO AS COLUNAS DOS DATAFRAMES DE ACORDO COM A LISTA colunas.
    i.columns = colunas

In [9]:
for i in df: #REMOVO OS 4 PRIMEIROS CARACTERES DE TODAS AS LINHAS DA COLUNAS País, JÁ QUE SÃO REFERENTES A SIGLA DOS PAÍSES.
    i["País"] = i["País"].str.strip().str[4:]

In [10]:
df16.loc[df16["País"].str[0] == " "]

Empty DataFrame
Columns: [País, Ouro, Prata, Bronze, Total]
Index: []

In [11]:
for i in df: #NOS DATAFRAMES, QUANDO A QUANTIDADE DE MEDALHAS É ZERO, ESTÁ PREENCHIDO COMO NaN. AQUI EU MUDO ISSO PARA APARECER O VALOR 0.
    i.fillna(0, inplace=True)

In [12]:
df20.head()

             País  Ouro  Prata  Bronze Total
0  Estados Unidos  39.0   41.0    33.0   113
1           China  38.0   32.0    18.0    88
2           Japão  27.0   14.0    17.0    58
3    Grã-Bretanha  22.0   21.0    22.0    65
4             ROC  20.0   28.0    23.0    71

In [13]:
df20.loc[df20["País"] == "L", "Total"] = 1080 #USADO APENAS PARA UM DATAFRAME ESPECÍFICO QUE VEIO COM UM VALOR DEFEITUOSO, PORÉM TENHO A INFORMAÇÃO CORRETA.

In [14]:
df20.head()

             País  Ouro  Prata  Bronze Total
0  Estados Unidos  39.0   41.0    33.0   113
1           China  38.0   32.0    18.0    88
2           Japão  27.0   14.0    17.0    58
3    Grã-Bretanha  22.0   21.0    22.0    65
4             ROC  20.0   28.0    23.0    71

In [15]:
for i in df: #MUDO O VALOR DE TODAS AS COLUNAS COM VALORES NUMÉRICOS PARA O FORMATO Int.
    i.iloc[:,1:5] = i.iloc[:,1:5].astype(int)

In [16]:
def total(dataframe): #FUNÇÃO QUE ELIMINA A ÚLTIMA LINHA (Total) DE TODOS OS DATAFRAMES.
    x = dataframe
    x = x.iloc[:-1,:]
    return x

In [17]:
#CHAMADA DA FUNÇÃO.
df20 = total(df20)
df16 = total(df16)
df12 = total(df12)
df08 = total(df08)
df04 = total(df04)
df00 = total(df00)

4. Nessa etapa, busquei uma tabela com todos os países de cada continente. Dessa forma, ficaria mais fácil atribuir uma coluna ```Continente``` para cada país.

In [18]:
africa = pd.read_html("file:///C:/Users/Joao%20Victor/Desktop/Joao/Programming/olimpiadas/africa.html", encoding="utf-8")
africa = africa[0]
america = pd.read_html("file:///C:/Users/Joao%20Victor/Desktop/Joao/Programming/olimpiadas/america.html", encoding="utf-8")
america = america[0]
europa = pd.read_html("file:///C:/Users/Joao%20Victor/Desktop/Joao/Programming/olimpiadas/europa.html", encoding="utf-8")
europa = europa[0]
asia = pd.read_html("file:///C:/Users/Joao%20Victor/Desktop/Joao/Programming/olimpiadas/asia.html", encoding="utf-8")
asia = asia[0]
oceania = pd.read_html("file:///C:/Users/Joao%20Victor/Desktop/Joao/Programming/olimpiadas/oceania.html", encoding="utf-8")
oceania = oceania[0]

In [19]:
def lista_paises(df): #ALGUMAS LINHAS VIERAM DEFEITUOSAS, ENTÃO EU AS REMOVI COM BASE EM ALGUMAS CONDIÇÕES.
    df = df.iloc[:,0]
    list = []
    for i in df:
        if not i.__contains__("google"):
            list.append(i)
    return list

In [20]:
#CHAMADA DA FUNÇÃO.
africa = lista_paises(africa)
america = lista_paises(america)
europa = lista_paises(europa)
asia = lista_paises(asia)
oceania = lista_paises(oceania)

In [21]:
print(len(africa), len(america), len(europa), len(asia), len(oceania))

54 35 46 47 15

In [22]:
#REMOVI UMA LINHA COM INFORMAÇÃO INCORRETA.
del(asia[18])

In [23]:
#ALGUNS PAÍSES VIERAM COM A GRAFIA INCORRETA OU SIMPLESMENTE NOMEADOS DE FORMA DIFERENTE. ENTÃO EU OS ADICIONEI PARA QUE NÃO HAJAM PAÍSES SEM ATRIBUIÇÃO DE CONTINENTES.
africa += ["Quênia", "Burundi", "Zimbabwe", "Maurício", "Burquina Fasso"]
america += ["Porto Rico", "Trinidad e Tobago", "Bermudas"]
europa += ["Grã-Bretanha", "Polônia", "Eslovênia", "Romênia", "Kosovo", "Estônia", "Letônia", "Sérvia e Montenegro", "Iugoslávia", "Macedônia do Norte", "Atletas Olímpicos da Rússia", "San Marino", "Geórgia", "ROC"]
asia += ["Uzbequistão", "Irã", "Armênia", "Bahrein", "Vietnã", "Taipé Chinês", "Hong Kong", "Kuwait", "Sri Lanka"]

In [24]:
#ESSA FUNÇÃO ATRIBUI A CADA PAÍS, O CONTINENTE A QUE PERTENCE, CRIANDO, PARA ISSO, UMA NOVA COLUNA NO DATAFRAME.
def cont(dataframe, africa = africa, america = america, europa = europa, asia = asia, oceania = oceania):
    continentes = []
    for i in dataframe.iloc[:,0]:
        if i in africa:
            continentes.append("Africa")
        elif i in america:
            continentes.append("America")
        elif i in europa:
            continentes.append("Europa")
        elif i in asia:
            continentes.append("Asia")
        elif i in oceania:
            continentes.append("Oceania")
        else:
            continentes.append(np.nan)
    dataframe.loc[:,"Continente"] = continentes
    return dataframe

In [25]:
#CHAMADA DA FUNÇÃO.
df20 = cont(df20)
df16 = cont(df16)
df12 = cont(df12)
df08 = cont(df08)
df04 = cont(df04)
df00 = cont(df00)

C:\Users\Joao Victor\anaconda3\lib\site-packages\pandas\core\indexing.py:1597: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = value
C:\Users\Joao Victor\anaconda3\lib\site-packages\pandas\core\indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [26]:
df04.head()

             País  Ouro  Prata  Bronze  Total Continente
0  Estados Unidos    36     39      26    101    America
1           China    32     17      14     63       Asia
2          Rússia    28     26      36     90     Europa
3       Austrália    17     16      17     50    Oceania
4           Japão    16      9      12     37       Asia

In [27]:
df16.drop(52,inplace=True) #TIREI A EQUIPE DE REFUGIADOS.

C:\Users\Joao Victor\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [28]:
df00.loc[df00["Continente"] == "America"].sort_values("Ouro", ascending=False).head()

              País  Ouro  Prata  Bronze  Total Continente
0   Estados Unidos    37     24      32     93    America
8             Cuba    11     11       7     29    America
23          Canadá     3      3       8     14    America
34         Bahamas     2      0       1      3    America
39          México     1      2       3      6    America

In [29]:
df20.head()

             País  Ouro  Prata  Bronze  Total Continente
0  Estados Unidos    39     41      33    113    America
1           China    38     32      18     88       Asia
2           Japão    27     14      17     58       Asia
3    Grã-Bretanha    22     21      22     65     Europa
4             ROC    20     28      23     71     Europa

5. Vejo se algum país ainda não possui um continente atribuído ao seu nome no dataframe.

In [30]:
df12.loc[df12["Continente"].isna()]

Empty DataFrame
Columns: [País, Ouro, Prata, Bronze, Total, Continente]
Index: []

In [31]:
df08.loc[df08["Continente"].isna()]

Empty DataFrame
Columns: [País, Ouro, Prata, Bronze, Total, Continente]
Index: []

In [32]:
df04.loc[df04["Continente"].isna()]

Empty DataFrame
Columns: [País, Ouro, Prata, Bronze, Total, Continente]
Index: []

In [33]:
df00.loc[df00["Continente"].isna()]

Empty DataFrame
Columns: [País, Ouro, Prata, Bronze, Total, Continente]
Index: []

6. Agora, irei gerar um dataframe com informações dos continentes para cada ano dos jogos olímpicos.

In [34]:
def continentes(dataframe, ano): #FUNÇÃO QUE CRIA NOVOS DATAFRAMES COM INFORMAÇÕES REFERENTES AOS CONTINENTES.
    new_df = dataframe.groupby("Continente").sum().reset_index()
    new_df["Nº de Países"] = dataframe.groupby("Continente").size().values
    new_df["Ano"] = int(ano)
    new_df = new_df.loc[:,["Continente", "Nº de Países", "Ouro", "Prata", "Bronze", "Total", "Ano"]]
    return new_df

In [35]:
#CHAMADA DA FUNÇÃO.
cont_2020 = continentes(df20, 2020)
cont_2016 = continentes(df16, 2016)
cont_2012 = continentes(df12, 2012)
cont_2008 = continentes(df08, 2008)
cont_2004 = continentes(df04, 2004)
cont_2000 = continentes(df00, 2000)

In [36]:
cont_2000

  Continente  Nº de Países  Ouro  Prata  Bronze  Total   Ano
0     Africa             8    10     10      15     35  2000
1    America            14    55     56      67    178  2000
2       Asia            21    55     47      53    155  2000
3     Europa            35   163    162     172    497  2000
4    Oceania             2    17     25      20     62  2000

7. Transformo os 5 dataframes em um só, para facilitar na análise dos dados.

In [37]:
olimpiadas = [cont_2020, cont_2016, cont_2012, cont_2008, cont_2004, cont_2000]
olimpiadas = pd.concat(olimpiadas, ignore_index=True)

In [38]:
olimpiadas.loc[olimpiadas["Continente"] == "Africa"]

   Continente  Nº de Países  Ouro  Prata  Bronze  Total   Ano
0      Africa            13    11     12      14     37  2020
5      Africa            11    10     18      17     45  2016
10     Africa            11    13     12      15     40  2012
15     Africa            13    13     16      15     44  2008
20     Africa             9     9     13      13     35  2004
25     Africa             8    10     10      15     35  2000

In [39]:
olimpiadas.to_csv("olimpiadas_cont.csv", index=False)

In [40]:
#CRIO UMA NOVA COLUNA EM CADA DATAFRAME COM A INFORMAÇÃO DO ANO DOS JOGOS OLÍMPICOS.
df20["Ano"] = 2020
df16["Ano"] = 2016
df12["Ano"] = 2012
df08["Ano"] = 2008
df04["Ano"] = 2004
df00["Ano"] = 2000

<ipython-input-40-b195d6d2e99a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df20["Ano"] = 2020
<ipython-input-40-b195d6d2e99a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df16["Ano"] = 2016
<ipython-input-40-b195d6d2e99a>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df12["Ano"] = 2012
<ipython-input-40-b195d6d2e99a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df08["Ano"] = 2008
<ipython-input-40-b195d6d2e99a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df04["Ano"] = 2004
<ipython-input-40-b195d6d2e99a>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df00["Ano"] = 2000

In [41]:
por_paises = [df20, df16, df12, df08, df04, df00] #LISTA COM TODOS OS DATAFRAMES.

In [42]:
#GERO UM DATAFRAME SÓ COM TODAS AS INFORMAÇÕES DE CADA PAÍS.
olim_paises = pd.concat(por_paises) 
olim_paises.reset_index()
olim_paises.to_csv("paises.csv", index=False)

In [43]:
olim_paises.loc[olim_paises["País"] == "Estados Unidos"] #EXEMPLO DE VISUALIZAÇÃO.

             País  Ouro  Prata  Bronze  Total Continente   Ano
0  Estados Unidos    39     41      33    113    America  2020
0  Estados Unidos    46     37      38    121    America  2016
0  Estados Unidos    46     28      30    104    America  2012
1  Estados Unidos    36     39      37    112    America  2008
0  Estados Unidos    36     39      26    101    America  2004
0  Estados Unidos    37     24      32     93    America  2000

In [44]:
olim_paises

                  País  Ouro  Prata  Bronze  Total Continente   Ano
0       Estados Unidos    39     41      33    113    America  2020
1                China    38     32      18     88       Asia  2020
2                Japão    27     14      17     58       Asia  2020
3         Grã-Bretanha    22     21      22     65     Europa  2020
4                  ROC    20     28      23     71     Europa  2020
..                 ...   ...    ...     ...    ...        ...   ...
75              Israel     0      0       1      1       Asia  2000
76              Kuwait     0      0       1      1       Asia  2000
77         Quirguistão     0      0       1      1       Asia  2000
78  Macedônia do Norte     0      0       1      1     Europa  2000
79               Catar     0      0       1      1       Asia  2000

[505 rows x 7 columns]